body {
    font-family: BeaufortforLOL;
    src: url(Beaufort-Bold.ttf);
    height: 100%;
    color: #A25628;
}

h1 {
    font-family: BeaufortforLOL;
    src: url(Beaufort-Bold.ttf);
    color: #A25628;
}

h2 {
    font-family: BeaufortforLOL;
    src: url(Beaufort-Bold.ttf);
    color: #A25628;
}

.header {
    background:#001D49;
    border-bottom:3px solid;
    border-color: #A25628;
    box-shadow: 0px 5px 10px black;
    height: 125px;
    width: 100%;

}

.buttonPower {
    background:#001D49;
    width: 110px;
    height: 125px;
    border-left: 3px solid;

    border-bottom: 3px solid;
    border-color: #A25628;
}

.header img {
    width: 50px;

}

.sidebar {
    background:#001D49;
    width: 280px;
    border-color: #A25628;
    border-right:3px solid;;
    box-shadow: 0px 5px 10px black;
    z-index: 32;
}

/******************************* HEADER *******************************/
/******************************* TEST *********************************/
.satishraj-tree-container {
    padding: 10px !important;
    margin:0;
    cursor: pointer;
    width:100%;
    min-height:100vh;
    font-family: BeaufortforLOL;
    src: url(Beaufort-Bold.ttf);
    font-size: 30px !important;
    text-decoration-color: #A25628;
    text-shadow: 3px 5px 10px black;
}

.satishraj-tree-container .tree-li {
    padding: 2px !important;
    word-wrap: break-word;
    list-style:none;
}

.satishraj-tree-container .tree-li .tree-ul {
    padding-left: 20px !important;
}

.satishraj-tree-container .tree-li .tree-ul.diactive {
    display: none;
}

.satishraj-tree-container .tree-li .text {
    top: -3px;
    position: relative;
}

.satishraj-tree-container .tree-li.is-child > .text:before {
    content: "\25BE";
    font-size: 22px;
    top: 2px;
    position: relative;
    padding-right: 5px;
}



.satishraj-tree-container .tree-li.is-child.diactive > .text:before {
    content: "\25B8" !important;
}


.satishraj-tree-container .tree-li [type="checkbox"] + label {
    padding-left: 25px !important;
}
/************************** Strategies*************************************/

.content_strategies {
    background:#00386D;
    border:6px solid #E6B155;
    box-shadow: 0 5px 10px black;
    height: 3000px;
    width: 1470px;
    margin-left: 400px;
}

.principal_strat, .stratinseasons, .gimmickstrats {
    background:#00386D;
    border:3px solid #E6B155;
    box-shadow: 0px 5px 10px black;
    height: 763px;
    width: 1350px;
    margin-left: 50px;
    margin-top: 63px;
    margin-bottom: 63px;
}


.line {
    width: 1280px;
    border: 3px solid #E6B155;
    box-shadow: 3px 5px 10px black;
}


.name, .principalthroughout, .specificseasons, .gimmickstrat  {
    font-size: 45px;
    text-shadow: 0px 5px 10px black;
}
/*************************************************************************/
/*******************************Strategy***********************************/

.content_strategy {
    background:#00386D;
    border:6px solid #E6B155;
    box-shadow: 0 5px 10px black;
    height: 4050px;
    width: 1470px;
    margin-left: 400px;
}

.strategy_name {
    font-family: BeaufortforLOL;
    src: url(Beaufort-Bold.ttf);
    color: #A25628;
    font-size: 75px;
    text-align: center;
    text-shadow: 3px 5px 10px black;
    text-decoration: underline;
}

.description, .settings, .counterstrat {
    font-family: BeaufortforLOL;
    src: url(Beaufort-Bold.ttf);
    color: #A25628;
    font-size: 40px;
    text-align: left;
    text-shadow: 3px 5px 10px black;
}

.exemple, .makeitwork, .contre, .teamusage {
    background:#00386D;
    border:6px solid #E6B155;
    box-shadow: 0 5px 10px black;
    height: 515px;
    width: 1355px;
    margin-left: 38px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.exmple {
    font-family: BeaufortforLOL;
    src: url(Beaufort-Bold.ttf);
    color: #A25628;
    font-size: 55px;
    text-align: left;
    text-shadow: 3px 5px 10px black;
    text-decoration: underline;
}

.howtomake {
    font-family: BeaufortforLOL;
    src: url(Beaufort-Bold.ttf);
    color: #A25628;
    font-size: 55px;
    text-align: left;
    text-shadow: 3px 5px 10px black;
    text-decoration: underline;
}

.Counter {
    font-family: BeaufortforLOL;
    src: url(Beaufort-Bold.ttf);
    color: #A25628;
    font-size: 55px;
    text-align: left;
    text-shadow: 3px 5px 10px black;
    text-decoration: underline;
}

.teamsthatuseit {
    font-family: BeaufortforLOL;
    src: url(Beaufort-Bold.ttf);
    color: #A25628;
    font-size: 55px;
    text-align: left;
    text-shadow: 3px 5px 10px black;
    text-decoration: underline;
}

.champs_image {
    margin-top: 188px;
    margin-left: 46px;
    margin-right: 46px;
}
/*************************************************************************/